.login-page-grid {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 4em;
    margin-left: 10%;
}

.outer-color-container {
    height: 25em;
    margin-left: 30%;
    padding-right: 2px;
    box-shadow: 0 10px 15px rgba(20,20,20,0.15);
}

.pcr-button {
    margin-top: 0.5em;
    margin-left: 0.5em;
    opacity: 0.5;
}

.generate-btn {
    position: relative;
    top: 2em;
    left: 32em;
    display: block;
    margin: 0 auto;
}


.login-body div {
    display: inline-block;
}

.primary-color-container {
    background-color: aqua;
    height: 40%;
    transition: .5s;
    animation: 1s forwards 0s ease;

}

.secondary-color-container {
    background-color: rgb(83, 151, 151);
    height: 40%;
    transition: .5s;
    animation: 1s forwards 0s ease;
}

.tertiary-color-container {
    background-color: rgb(11, 221, 134);
    height: 40%;
    transition: .5s;
    animation: 1s forwards 0s ease;
}

.quaternary-color-container {
    background-color: rgb(144, 172, 23);
    height: 40%;
    transition: .5s;
    animation: 1s forwards 0s ease;
}

.quinary-color-container {
    background-color: rgb(33, 202, 202);
    height: 40%;
    transition: .5s;
    animation: 1s forwards 0s ease;
}

.color-picker-background {
    background: rgb(0 4 6 / 25%) !important;
    height: 2.5em;
    width: 10em;
}

.color-picker-hex {
    margin-left: 5em;
    position: relative;
    top: -1.3em;
    left: -2em;
}

/* Login page */

.login-page-title {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    color: #2e2d2bf6;
    margin: 20px 0 20px;
}

.login-page-description {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #94928ff6;
}

.login-page-btn {
    float: left;
    background:white;
    color: rgb(15, 119, 223);
    padding: 5px 45px;
    margin: 0.5% 0% 0.5% 0.5%;
    border: 2px solid rgb(54, 150, 249);
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 3px 5px rgb(54, 150, 249);
    width: 200px;
}

.login-page-btn:active {
    box-shadow: none;
    transform: translateY(3px);
}

.login-page-btn:hover {
    cursor: pointer;
}

/* login page - sign up button */
.signup-btn {
    float: left;
    background: rgb(51, 145, 240);
    color: white;
    padding: 5px 45px;
    margin: 5% 0% 0.5% 0.5%;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 20px;
    box-shadow: 3px 5px rgb(54, 150, 249);
    width: 200px;
}

.signup-btn:active {
    box-shadow: none;
    transform: translateY(3px);
}

.signup-btn:hover {
    cursor: pointer;
}

/* sign up page - sign up button */
.signup-page-btn {
    float: left;
    background:white;
    color: rgb(15, 119, 223);
    padding: 5px 45px;
    margin: 0.5% 0% 0.5% 0.5%;
    border: 2px solid rgb(54, 150, 249);
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 3px 5px rgb(54, 150, 249);
    width: 200px;
}

.signup-page-btn:active {
    box-shadow: none;
    transform: translateY(3px);
}

.signup-page-btn:hover {
    cursor: pointer;
}

.login-page-body {
    background: white;
    color: white;
}
  
.login-form {
    margin: 40px 0;
}
   
.box {
    height: 50em;
    width: 18em;
    padding: 40px;
    background: rgb(243, 241, 241);
    box-sizing: border-box;
}

.box h2, .box h3 {
    margin: 0 0 30px;
    padding: 0;
    color: #FFF;
    text-align: center;
}
  
.box .inputBox {
    position: relative;
    padding-top: 10px;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: grey;
    letter-spacing: 1px;
    margin: 30px 0px;
    border: none;
    border-bottom: 1px solid #FFF;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: grey;
    pointer-events: none;
    transition: .5s;
    animation: LabelOnLoad 1s forwards 0s ease;
}

.box .no-account {
    color: #94928ff6;
    margin: 40% 0 0 5% ;
}